body {
  font-family: Arial, sans-serif;
  background: url("../img/fondo_login.jpg") no-repeat center center fixed;
  background-size: 100% 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  background: rgba(255, 255, 255, 0.9);
  padding: 45px;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.3);
  width: 320px;
  text-align: center;
  backdrop-filter: blur(5px);
}

h2 {
  margin-bottom: 20px;
  color: #333;
}

input {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
  outline: none;
  transition: 0.3s;
}

input:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0,123,255,0.5);
}


.link-btn {
  width: 95%;
  padding: 12px;
  margin-top: 10px;
  border: none;
  border-radius: 25px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
  color: white;
}

#btnIngresar {
  background-color: #007bff; 
}

#btnIngresar:hover {
  background-color: #0056b3;
  transform: scale(1.03);
  box-shadow: 0 4px 10px rgba(0,123,255,0.4);
}

#btnCrearCuenta {
  background-color: #28a745; 
}

#btnCrearCuenta:hover {
  background-color: #1e7e34;
  transform: scale(1.03);
  box-shadow: 0 4px 10px rgba(40,167,69,0.4);
}

button:active {
  transform: scale(0.97);
}
